<!DOCTYPE html>
<html>
  <head>
    <title>Uncle Dimmy - the one man Spanish diminutive converter</title>
    <meta name="description" content="Uncle Dimmy is a Spanish language diminutive converter">
    <link id="favicon" rel="icon" href="https://gomix.com/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div class="pageContainer">
      <header>
        <h1>
          Uncle Dimmy
        </h1>
      </header>
  
      <main>
        <div class="conversation">
          <div class="column">
            <p class="bold">You:</p>
            <p class="bold">Uncle Dimmy:</p>
            <p class="bold">You:</p>
            <p class="bold">Uncle Dimmy:</p>
          </div>
          <div class="column grow">
            <p>"Uncle Dimmy, Uncle Dimmy, what's a <span class="bold">diminutive</span>?</p>
            <p>"Ah yes, the diminutive. A diminutive is a morphological variant of a noun, adjective, or adverb that denotes 
            'littleness' or 'playfulness.' In Spanish this is accomplished by affixing a morpheme 
            onto the end of the given lexical category. Otherwise known as suffixing."</p>
            <p>"What?"</p>
            <p>"For example,  the diminutive of <span class="italic" lang="es">casa</span> would be <span class="italic" lang="es">casita</span>, which means a little house.</p>
          </div>
        </div>
        
        <div class="formish">
         
          <div id="lexCategory">
            <p>If your word is a NOUN or ADJECTIVE, please tell Uncle Dimmy if it's <span class="bold">masculine</span> or <span class="bold">femenine:</span></p>
            <input type="radio" name="lexical-category" id="masculine"><label for="masculine">M</label>
            <input type="radio" name="lexical-category" id="feminine"><label for="feminine">F</label>
             <hr>
            <p>Or if it's an ADVERB, click the ADVERB button:</p>
            <input type="radio" name="lexical-category" id="adverb"><label for="adverb">ADVERB</label>
          </div>
          
          <form id="noun">
            <input type="text" value="" maxlength="100" placeholder="amigo will be amiguito" id="word">
            <button type="submit" id="btn">Find outcito</button>
          </form>
          
          <p class="bold" id="dimunutive"></p>
          
        </div>
        
      </main>
    
      <footer>
        <p>Built by <a href="https://www.gilbertginsberg.org/">Esteban Gilbert</a> (not real name)</p>
      </footer>
    </div>
    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>

  </body>
</html>
