<!DOCTYPE html>
<html>
  <head>
    <title>Uncle Dimmy - the one man Spanish diminutive converter</title>
    <meta name="description" content="Uncle Dimmy is a Spanish language diminutive converter">
    <link id="favicon" rel="icon" href="https://gomix.com/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div class="pageContainer">
      <header>
        <h1>Uncle Dimmy</h1>
        <p>The one man Spanish diminutive converter</p>
      </header>
  
      <main>
        <div class="conversation">
          <p><span class="bold">You: </span>"Uncle Dimmy, Uncle Dimmy, what's a Spanish <span class="bold">diminutive</span>?"</p>
          <p><span class="bold">Uncle Dimmy: </span>"Ah yes, the diminutive. A diminutive is a morphological variant of a noun, adjective, or adverb that denotes 
            'littleness' or 'playfulness.' In Spanish this is accomplished by affixing a morpheme 
            onto the end of the lexical item. Otherwise known as suffixing, a type of morphological derivation."</p>
          <p><span class="bold">You: </span>"What?"</p>
          <p><span class="bold">Uncle Dimmy: </span>"For example, the diminutive of <span class="italic" lang="es">casa</span> would be <span class="italic" lang="es">casita</span>, which means a little house.
          And you can transform any Spanish noun, adjective, or adverb into a diminutive. Would you like a <span class="italic">café</span> or a <span class="italic">cafecito</span>?
          <br><br>
          "What's your favorite Spanish word? I'll diminutize it. Just please let me know three little thinguitos:</p>
          <ol class="instructions">
            <li>Select the word's gender <strong>M</strong> or <strong>F</strong></li>
            <li>Or whether it's an adverb.</li>
            <li>And then just type the word into that text box."</li>
          </ol>
      
        </div>
     
        <div class="formish">
          <div id="lexCategory">
            <p>If your word is a NOUN or ADJECTIVE, please tell Uncle Dimmy if it's <span class="bold">masculine</span> or <span class="bold">femenine:</span></p>
            <input type="radio" name="lexical-category" id="masculine"><label for="masculine">M</label>
            <input type="radio" name="lexical-category" id="feminine"><label for="feminine">F</label>
             <hr>
            <p>Or if it's an ADVERB, click the ADVERB button:</p>
            <input type="radio" name="lexical-category" id="adverb"><label for="adverb">ADVERB</label>
          </div>
          
          <form id="noun">
            <input type="text" value="" maxlength="100" placeholder="amigo will be amiguito" id="word">
            <button type="submit" id="btn">Find outcito</button>
          </form>
          
          <p class="bold" id="diminutive"></p>
          <p class="bold" id="specialIco"></p>
        
          <p class="warning"><span class="italic">Warning: While Uncle Dimmy is one smart fellow, he's not perfect. Some of his diminutive conversions might be incorrect 
          because sometimes Uncle Dimmy is Uncle Dimwit. He's always looking to improve though and you can help Uncle Dimmy improve by emailing any wrongheaded 
          conversions to gilbert.ginsberg@gmail.com. In Uncle Dimmy we trust.</span></p>
        </div>
      </main>
      <footer>
        <p>Built by <a href="https://www.gilbertginsberg.org/">Esteban Gilberto</a> (alias)</p>
      </footer>
    </div>
    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>

  </body>
</html>
