<!DOCTYPE html>
<html>
  <head>
    <title>Uncle Dimmy</title>
    <meta name="description" content="Uncle Dimmy is a Spanish dimunitve converter - it gives you the dimunitive of your favorite Spanish nouns">
    <link id="favicon" rel="icon" href="https://gomix.com/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div class="pageContainer">
      <header>
        <h1>
          Uncle Dimmy
        </h1>
      </header>
  
      <main>
        <div class="conversation">
        <span class="bold">You:</span>&nbsp;<p>"Uncle Dimmy, Uncle Dimmy, what's the dimunitve of [<span class="italic">your favorite Spanish noun</span>]?</p>
        </div>
        <br>
        <div class="conversation">
        <span class="bold">Uncle Dimmy:</span>&nbsp;<p>"Oh, why sure! Just t-t-type it into that search box below my dear one-cito."</p>
        </div>
        <br>
        <div class="formish">
          <form>
            <input type="text" value="" maxlength="100" placeholder="amigo will be amiguito" id="word">
            <button type="submit" id="btn">Find outcito</button>
          </form>
          
          <p class="bold" id="dimunutive"></p>
        </div>
        
      </main>
    
      <footer>
        <p>Built by <a href="https://www.gilbertginsberg.org/">Esteban Gilbert</a> (not real name)</p>
      </footer>
    </div>
    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>

  </body>
</html>
